.headlines
  .headlines-inner
    %h3.h3-thin.centered
      Headlines for
      = Date.today.day
      = Date::MONTHNAMES[Date.today.month]

    - @headlines.shuffle.each do |story|
      .headline
        - if story.image.present?
          = link_to story_path(story) do 
            .headline-thumb{:style=>"background-image: url(#{story.image});"}
        %h2.headline-title
          - subject = story.subject
          - subject = story.guess_subject if subject.blank?

          %span.headline-subject
            - if subject.present?
              = subject
            - else
              News


          = link_to story.clickbait, story_path(story), :class => "headline-link"
          %span.headline-year= story.year
    %h3.h3-thin.centered
      In other news
    - @sublines.each do |story|
      .subline
        %h3.subline-title
          - subject = story.subject
          - subject = story.guess_subject if subject.blank?

          - if subject.present?
            %span.headline-subject= subject

          = link_to story.clickbait, story_path(story), :class => "headline-link"
          %span.headline-year= story.year
