#stories
.headlines
  .headlines-inner
    - if false
      %h3.h3-thin.centered
        Headlines for
        = Date.today.day
        = Date::MONTHNAMES[Date.today.month]

    - @headlines.shuffle.each do |story|
      .headline
        - if story.image.present?
          = link_to story_path(story) do 
            .headline-thumb{:style=>"background-image: url(#{story.image});"}
        %h2.headline-title
          - subject = story.subject
          - subject = story.guess_subject if subject.blank?

          %span.headline-subject
            = succeed(",") do
              - if subject.present?
                = subject
              - else
                News
            = story.year



          = link_to story.clickbait, story_path(story), :class => "headline-link"
          - #%span.headline-year= story.year

= render :partial => "stories/sublines", :locals => {:stories => @sublines, :not_story => @story}
- if @other_olds.count > 0
  = render :partial => "stories/other_olds", :locals => {:stories => @other_olds, :not_story => @story, :title => "In other olds"}

