- not_story ||= nil
- title ||= nil
- stories ||= []
.sublines
  .sublines-inner  
    - if title.present?
      %h3.h3-thin.centered
        = title  
    - stories.each do |story|
      - unless story == not_story
        .subline
          .subline-thumb-left
            = link_to story_path(story) do 
              .subline-thumb{:style=>"background-image: url(#{story.image});"}
          .subline-story
            %h4.subline-title
              - subject = story.subject
              - subject = story.guess_subject if subject.blank?

              %span.subline-subject
                - if subject.present?
                  = "#{subject}, "
                = story.year

              = link_to story.clickbait, story_path(story), :class => "headline-link"
              - #%span.subline-year= story.year