.story-container
  .story-full
    %h1.story-full-title= @story.clickbait
    - if @story.image
      %img.story-image{:src=>@story.image}
    %h4.story-meta
      - if @story.subject
        = @story.subject + " | "
      = @story.day
      = Date::MONTHNAMES[@story.month]
      = @story.year
    
    = @story_body.html_safe