- content_for :title do
  = @title
  = " | The Olds"

.story-page
  .story-header
    %h1.story-full-title= @story.clickbait.reverse.sub(" ",";psbn&").reverse.html_safe
    %h4.story-meta
      - if @story.subject
        = @story.subject + " | "
      = @story.day
      = Date::MONTHNAMES[@story.month]
      = @story.year

  .story-body
    .story-container

      .story-full
        
        - if @story.image
          %img.story-image{:src=>@story.image}
        
        
        = @story_body.html_safe

        - if Rails.env.development?
          %ul
            - @story.dbpedia.to_s.scan(/"(http:\/\/[^"]+)"/).flatten.uniq.each do |i|
              %li=i
