- content_for :title do
  = @title
  = " | The Olds"

.story-page
  .story-header
    - if @story.image && (@story.image_width > @story.image_height)
      .story-header-landscape

        %h1.story-full-title= @story.clickbait.reverse.sub(" ",";psbn&").reverse.html_safe
        %h4.story-meta
          - if @story.subject
            = @story.subject + " | "
          = @story.day
          = Date::MONTHNAMES[@story.month]
          = @story.year

        
        %img.story-image{:src=>@story.image}
    - elsif @story.image
      .story-header-portrait
        .header-left
          %img.story-image{:src=>@story.image}
        .header-right
          %h1.story-full-title= @story.clickbait.reverse.sub(" ",";psbn&").reverse.html_safe
          %h4.story-meta
            - if @story.subject
              = @story.subject + " | "
            = @story.day
            = Date::MONTHNAMES[@story.month]
            = @story.year
    - else
      .story-header-no-image
        %h1.story-full-title= @story.clickbait.reverse.sub(" ",";psbn&").reverse.html_safe
        %h4.story-meta
          - if @story.subject
            = @story.subject + " | "
          = @story.day
          = Date::MONTHNAMES[@story.month]
          = @story.year
  .story-body
    .story-container

      .story-full
        
        = @story_body.html_safe

        - if Rails.env.development?
          %ul
            - @story.dbpedia.to_s.scan(/"(http:\/\/[^"]+)"/).flatten.uniq.each do |i|
              %li=i
