!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'The Olds - Yesterday\'s Today'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Olds'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation
    = #javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :javascript
      (function(d) {
        var config = {
          kitId: 'riq8xuc',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    = csrf_meta_tags
  %body
    %header.logo
      .header-inner
        = #render 'layouts/navigation'
        
        .nav-right
          
      .subscribe-form#subscribe-form
        .inner
          %h3.h3-thin.centered
            Receive old news in your inbox
          = simple_form_for Subscriber.new do |f|
            = f.input :email, :label => false, :placeholder => "you@example.com"
            = f.submit "Subscribe via email", :class => "btn"
    %main{:role => "main"}
      .inner
      = render 'layouts/messages'
      
      %nav.sticky-nav.at-top
        %ul
          %li.pull-left.spacer
            %span.nav-logo
              %span.logo
                %a{:href=>"/"}
                  %span.the> The
                  //%span.daily> Daily 
                  %span.olds> Olds
              %span.logo-strapline Yesterday’s today
          %li
            %a.menu-item#subscribe-form-opener{:href=>"#subscribe"}
              Subscribe
          %li.square
            = link_to "/stories/#{@prev_story_slug}" do
              %span.chevron.left-chevron
          %li.square
            = link_to "/stories/#{@next_story_slug}" do
              %span.chevron.right-chevron



      = yield
    %footer
      .inner
        - if @story
          %p
            = link_to "http://en.wikipedia.org#{@story.wikipedia_url}" do
              Original article
        %p
          The Olds is an experiment by 
          %a{:href=>"https://twitter.com/tedcooke"} Ed
          and 
          %a{:href=>"https://twitter.com/stef"} Stef
          into how to learn about history.
        %p
          We enourage you to donate to 

          = succeed(",") do
            %a{:href=>"http://wikipedia.org"} Wikipedia
          on whose shoulders we stand.

  = yield :scripts  
  :javascript
    var subscribe_toggle = document.getElementById("subscribe-form-opener");
    subscribe_toggle.onclick = function() { 
      document.getElementById("subscribe-form").className = "subscribe-form open";
      return(false);
    }